@import "tailwindcss";

@theme {
    --*: initial;
    --font-sans: "Nunito Sans", serif;
    --font-serif: "Yeseva One", sans-serif;
    --color-yellow-50: #f6eee1;
    --color-gray-900: #2b251b;
    --color-gray-500: #696357;
}
