@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Nunito Sans", serif;
    --font-serif: "Bebas Neue", sans-serif;
    --color-white: #f8f8f8;
    --color-black: #171513;
    --color-green: #6c8e5c;
    --color-red: #d00000;
    --color-grey: #b5b5b5;
    --color-grey-100: #767676;
    --color-grey-900: #1c1c1c;
}
.repeating-bg {
    background-color: #505050;
    background-image: url('/static/images/black-linen.png');
}
