@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Nunito Sans", serif;
    --font-serif: "Yeseva One", sans-serif;
    --color-white: #d6d0d0;
    --color-primary-50: #e9e4e0;
    --color-primary-100: #d6cfc9;
    --color-primary-300: #6c655f;
    --color-primary-700: #36312d;
    --color-primary-900: #0f0d0e;
}


