<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Blog</title>
    
    <!-- Adicione as Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Yeseva+One&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">     
</head>
<body class="bg-primary-200 font-sans"> 
    <nav> 
        <div class="text-xl max-w-4xl mx-auto m-4 px-4 sm:px-6 lg:px-8 bg-primary-900 rounded-sm font-serif">
            <div class="flex justify-between h-16">
                <div class="flex items-center">
                    <a href="/" class="font-bold text-white font-serif">Mur1il0w</a> 
                </div>
                <div class="flex space-x-8 items-center">
                    <a href="/about" class="text-white hover:text-primary-100 px-3 py-2 rounded-md transition-colors">About</a> 
                    <a href="/contact" class="text-white hover:text-primary-100 px-3 py-2 rounded-md transition-colors ">Contact</a> 
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <article class="bg-primary-900 shadow-sm border-8 border-black rounded-sm"> 
            <!-- Post Header -->
            <header class="px-3 py-4 bg-primary-900 border-b border-primary-100"> 
                <div class="flex justify-between items-start mb-4">
                    <div>
                        <h1 class="text-5xl font-bold text-green mb-4 font-serif">{{.Title}}</h1> 
                        <div class="flex items-center text-primary-100"> 
                            <span class="font-medium">{{.Author}}</span>
                            {{if .Date}}
                            <span class="mx-2">•</span>
                            <time datetime="{{.Date}}">{{.Date}}</time>
                            {{end}}
                        </div>
                    </div>
                    <div class="w-[300px] text-justify text-xs text-primary-50 font-serif">
                        <div class="repeating-text">
                            {{range $i := 10}}{{$.Description}} {{end}}
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <div class="px-6 py-8 prose prose-lg max-w-none 
                       prose-p:text-primary-50
                       prose-code:text-primary-50
                       prose-strong:text-primary-50
                       prose-headings:font-serif
                       prose-headings:text-white
                       prose-li:marker:text-primary-50
                       prose-li:text-primary-50
                       prose-ol:text-primary-50
                       prose-ul:text-primary-50
                       prose-blockquote:border-primary-100
                       prose-blockquote:bg-primary-800
                       prose-blockquote:rounded-md
                       prose-a:text-primary-50 hover:prose-a:text-primary-100">
                {{.Content}}
            </div>
        </article>
    </main>

    <!-- Footer -->
    <footer class="mt-12"> 
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8 border-t-2 border-primary-900">
            <div class="flex justify-between items-center">
                <span class="text-primary-900 text-sm">© 2025 Muriilow. All rights reserved.</span>
                <img class="w-1/4" src="/static/images/barcode.png" alt="barcode tryhackme link">
            </div>
        </div>
    </footer>
</body>
</html>
