<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Blog</title>
    
    <!-- Adicione as Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Yeseva+One&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">     
</head>
<body class="absolute repeating-bg inset-0 opacity-100 bg-cover bg-center font-sans"> 
    <nav> 
        <div class="bg-black text-2xl max-w-4xl mx-auto m-4 p-2 sm:p-3 lg:p-4 rounded-sm font-serif">
            <div class="flex justify-between">
                <div class="flex items-center">
                    <a href="/" class="font-bold text-white font-serif"> 
                        <img class="absolute -top-1 w-1/10  p-1" src="/static/images/logo2.svg" alt="Mur1il0w logo">
                    </a>
                </div>
                <div class="flex space-x-8 items-center">
                    <a href="/about" class="text-white hover:text-green px-3 py-2 rounded-md transition-colors">About</a> 
                    <a href="/contact" class="text-white hover:text-green px-3 py-2 rounded-md transition-colors ">Contact</a> 
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <article class="bg-black shadow-sm border-8 border-black rounded-sm"> 
            <!-- Post Header -->
            <header class="px-3 py-4 border-b border-white"> 
                <div class="flex justify-between items-start mb-4">
                    <div>
                        <h1 class="text-5xl font-bold text-green mb-4 font-serif">{{.Title}}</h1> 
                        <div class="flex items-center text-grey"> 
                            <span class="font-medium">{{.Author}}</span>
                            {{if .Date}}
                            <span class="mx-2">•</span>
                            <time datetime="{{.Date}}">{{.Date}}</time>
                            {{end}}
                        </div>
                    </div>
                    <div class="w-[300px] text-justify text-xs text-grey-100 font-serif">
                        {{range $i := 10}}{{$.Description}} {{end}}
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <div class="px-6 py-8 prose prose-lg max-w-none 
                       prose-p:text-white
                       prose-code:text-white
                       prose-strong:text-white
                       prose-headings:font-serif
                       prose-headings:text-white
                       prose-li:marker:text-white
                       prose-li:text-white
                       prose-ol:text-white
                       prose-ul:text-white
                       prose-blockquote:border-white
                       prose-blockquote:bg-grey-900
                       prose-blockquote:rounded-md
                       prose-a:text-white">
                {{.Content}}
            </div>
        </article>
    </main>

    <!-- Footer -->
    <footer class="mt-12"> 
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8 border-t-2 border-black">
            <div class="flex justify-between items-center">
                <img class="w-1/4" src="/static/images/logo.svg" alt="Mur1il0w logo">
                <img class="w-1/4" src="/static/images/barcode.png" alt="barcode tryhackme link">
            </div>
        </div>
    </footer>
</body>
</html>
